@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap');
@import url('//fonts.googleapis.com/earlyaccess/notosansgujarati.css');

body {
    font-family: 'Noto Sans Gujarati', 'Baloo Bhai 2', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Bhai 2', 'Noto Sans Gujarati', sans-serif;
}



/*
 * Layout
 */

header {
    background-color: #f2f2f2;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    margin-bottom: 2.0rem;
}

header span.en {
    display: block;
    font-size: 2.0rem;
}

footer {
    background-color: #f2f2f2;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    margin-top: 2.0rem;
}


.menu {
    display: block;
    position: relative;
}


.navigation {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.navigation li {
    display: inline-block;
    float: left;
    margin: 0;
    border-right: 1px solid #ccc;
}

.navigation li:last-child {
    border-right: none;
}

.navigation li a {
    text-decoration: none;
    padding: 0.1rem 1rem;
}

.navigation li a:hover {
    text-decoration: none;
    color: #ff6600;
}







.content-list {
    list-style: none;
    padding-left: 0;
}

.content-list {
    list-style: none;
    padding-left: 0;
}


.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2.0rem;
    margin-bottom: 2.0rem;
}















.disclaimer {
    border: 1px solid #eee;
    padding: 2.0rem;
    border-radius: 0.4rem;
    background-color: #FDEDEC;
    margin-bottom: 4.0rem;

}

.disclaimer ul {
    margin-bottom: 0;
    font-size: 1.4rem;
}

.disclaimer ul li:last-child {
    margin-bottom: 0;
}
